@import "../../styles/mixins/color.scss";
@import "../../styles/mixins/padding.scss";
@import "../../styles/mixins/responsive.scss";

.container{
    @include Padding;
    padding-top: 34px ;
    padding-bottom: 34px ;
    background-color: $purple-color;
    border-bottom: 0.5px solid $grey-color;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    color: $white-color;
    @include Phone{
        grid-template-columns: repeat(2,1fr);
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

}
.logotipo{
    @include Phone{
        width: 100px;
        height: 35px;
    }
}


.menu{
    text-align: center;
    font-size: 22px;
    a{
        color: $white-color;
    }
    a+a{
        padding-left: 38.9px;
    }

    @include Phone{
        display: none;
    }
}



.action{
    text-align: end;
}

.button{
    @include Phone {
         width: 35px !important; 
    }
}

