@import "../../styles/mixins/color.scss";
@import "../../styles/mixins/padding.scss";

.container{
    @include Padding;
    padding-top: 34px ;
    padding-bottom: 34px ;
    background-color: $purple-color;
    border-bottom: 0.5px solid $grey-color;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    color: $white-color;
}
.logotipo{

}

.menu{
    text-align: center;
    font-size: 22px;
    a{
        color: $white-color;
    }
    a+a{
        padding-left: 38.9px;
    }
}



.action{
    text-align: end;
}

