@import "../../styles//mixins/padding.scss";
@import "../../styles//mixins/responsive.scss";
@import "../../styles//mixins/fonts.scss";
.container{
    @include Padding;
    padding-top: 219px;
    background-image: url("../../public/images/fundo.svg");
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 230px;
    @include Pc{
        height: 75vh;
        margin-top: 2rem;
        gap: 100px;
        background-position: center;
    }
    @include Tablet{
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        gap:30px;
        background-position: center;

        height: 600px
    }
    @include Phone{
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        gap:30px;
        background-position: center;
        background-size: contain;
        height: 600px
    }
    h1{
        @include SizeTittle;
    }
}


.text{
    h1{
        @include SizeTittle;
        font-weight: bold;
        padding-bottom: 32px;
    }
    p{
        @include SubTittle;
        opacity: 0.7;
        padding-bottom: 32px;
    }
    @include Phone{
        height: 300px;
    }
}

.image{
    text-align: end;
    margin: 0 auto;
    @include Pc{
        width: 500px;
        height: 300px;
    }
    @include Tablet{
        text-align: center;
        width: 600px;
        height: 400px;
        grid-column: 1;
        grid-row: 1;
    }
    @include Phone{
        text-align: center;
        width: 300px;
        height: 200px;
        grid-column: 1;
        grid-row: 1;
        padding-top: 0px;
    }
}



