@import "../../styles/mixins/color.scss";
@import "../../styles/mixins/padding.scss";
@import "../../styles/mixins/responsive.scss";
@import "../../styles/mixins/fonts.scss";


.container{
    @include Padding;
    padding-bottom: 255px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    h1{
        width: 900px;
        text-align: center;
        @include SizeTittle;
        font-weight: bold;
        margin-bottom: 5rem;

        @include Tablet{
           
            width: auto;
            margin-bottom: 3rem;
            margin-top:10rem;
        }
        @include Phone{
           
            width: auto;
            margin-bottom: 2rem;
        }
    }
    p{
        width: 900px;
        text-align: center;
        font-size: 30px;
        opacity: 0.7;
        margin-bottom: 5rem;
        @include Pc{
            width: auto;
            font-size: 24px;
        }
        @include Tablet{
            width: auto;
        }
        @include Phone{
            @include SubTittle;
            width: auto;
            margin-bottom: 2rem;
        }
    }

}

.features{  
   display: grid;
   grid-template-columns: repeat(2,1fr); 
   gap: 68px;

  
   @include Phone{
    grid-template-columns: 1fr;
   }
}

.feature{
    width: 509px;
    height: auto;
    border-radius: 5px;
    padding: 32px 35.67px;
    background-color: $white-color;
    @include Pc{
        width: 450px;
        height: auto;
    }
    @include Tablet{
        width: auto;
        height: auto;
    }
    @include Phone {
        width: auto;
        height: auto;
    }
    h1{
        font-weight: bold;
        color: $purple2-color;
        width: auto;
        text-align: left;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include SizeTittle;

    }
    p{

        color: $grey2-color;
        width: auto;
        text-align: left;

        @include SubTittle;
        
    }
}



